* {
    padding: 0px;
    margin: 0px;
}

html {
    height: 100%;
}

h1 {
    text-align: center;
    background-color: aqua;
    color: black;
}

.flex img {
    max-width: 100%;
}

nav {
    background-color: gray;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 20px;
}

nav a {
    text-decoration: none;
    /* background-color: white; */
    color: white;
}

nav ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-left: 10px;
}

.flex {
    display: flex;
    max-width: 800px;
    margin: 0px auto;
    flex-wrap: wrap;
    align-items: center;
}

.flex > div {
    flex: 1 1 200px;
    margin: 10px;
}