* {
    padding: 0px;
    margin: 0px;
}

html {
    height: 100%;
}

h1 {
    text-align: center;
    background-color: aqua;
    color: black;
}

img {
    max-width: 100%;
}

header {
    background-color: gray;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 20px;
}

header a {
    text-decoration: none;
    /* background-color: white; */
    color: white;
}

/* nav ul {
    display: flex;
} */

nav li {
    list-style: none;
    margin-left: 10px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    max-width: 800px;
    margin: 0 auto;
    /* background-color: blue; */
}

.card {
    /* background: red; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap: 10px;
}

.banner {
    grid-column: 3;
    grid-row: 2 / 5;
}

/* Menu mobile */

#menu-toggle, .menu-icon {
    display: none;
}


@media screen and (max-width:600px) {

    .header {
        position: fixed;
        top: 0px;
        width: 100%;
    }

    .header nav {
        display: absolute;
        width: 100%;
        height: 100%;
    }

    .menu {
        display: flex;
        position: fixed;
        flex-wrap: wrap;
        /* align-items: center; */
        align-content: center;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 0%;
        background: rgba(0, 0, 0, 0.7);
        overflow: hidden;

        -webkit-transition: height 0.3s;
        -moz-transition: height 0.3s;
        -o-transition: height 0.3s;
        transition: height 0.3s;
    }

    .menu li {
        display: block;
        width: 100%;
        margin-left: 0px;
        margin-bottom: 20px;
    }

    .menu li a {
        display: block;
        text-align: center;
        width: 100%;
    }

    .menu-icon {
        display: block;
        color: white;
        width: 50px;
        height: inherit;
        position: absolute;
        top: 15px;
        right: 0px;
        line-height: 60px;
        z-index: 10;
    }

    .menu-icon i {
        font-size: 1.7em;
    }

    #menu-toggle:checked ~ label i:nth-child(2) {
        display: block;
    }

    #menu-toggle:checked ~ label i:first-child {
        display: none;
    }

    #menu-toggle:not(checked) ~ label i:first-child {
        display: block;
    }

    #menu-toggle:not(checked) ~ label i:nth-child(2) {
        display: none;
    }

    #menu-toggle:checked ~ ul {
        height: 100%;
    }
}